@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

div {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

input {
  height: 3rem;
  padding: 0px;
  border: 0px;
  width: calc(100% - 4rem);
  padding-left: 1rem;
  font-size: 1rem;
}

button {
  appearance: auto;
  text-rendering: auto;
  color: rgb(255, 255, 255);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  box-sizing: border-box;
  background-color: rgb(228, 141, 141);
  margin: 0em;
  height: 3rem;
  width: 3rem;
  border-width: 0px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(255, 255, 255), rosybrown);
  border-image: initial;
  opacity: 0.8;
  transition: opacity 0.1s ease-in;
}

button:hover {
  opacity: 1;
}

button:active {
  background-color: hotpink;
}

.show {
  font-size: 1rem;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 300ms;
  padding: 1rem;
  width: fit-content;
  background-color: #fffab8;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  margin-top: -3rem;
  margin-bottom: 1rem;
}
.hide {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear, opacity 300ms;
}
.alert {
  position: relative;
  background: #fffab8;
}

.alert:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: #fffab8;
  border-bottom: 0;
  margin-left: -8px;
  margin-bottom: -8px;
}
