@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

main {
  max-width: 400px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10vh;
  background-color: rgb(243, 233, 233);
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  color: rgb(223, 176, 176);
  letter-spacing: 0.4rem;
}
